# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
node_modules

# Build output directories
dist
dist-ssr

# Data
data
.workspace
!.workspace/AGENTS.override.md

# Environment variables/local settings
.env
.evv.*
!.env.example
*.local

# Debug log files
npm-debug.log*